li{
    padding: 6px;
    font-weight: bold;
    
    
}
li .active{
    color: white !important;
    background-color:rgb(202, 138, 4) !important ;
}

.zoom-container{
    overflow: hidden;
}
.zoom-container img{
    transition: transform 0.3s ease;
}
.zoom-container:hover img {
    transform: scale(1.1);
}